# Build artifacts
target/

# Git/GitHub
.git/
.github/
.gitignore

# Editors
**/.vscode/
**/.idea/

# Docker
docker-compose.yml
docker-compose.yaml
Dockerfile

# Project files
.pre-commit-config.yaml
justfile
migrations/
.env
